{% load static %}
<div class="video-container">
  <video autoplay muted loop class="background video">
    <source
      src="{% static 'img/Southern Africa Wildlife Landscapes and Timelapse Cinematic Short Film.mp4' %}"
      type="video/mp4"
    />
  </video>
</div>
{% include 'navbar.html' %}
<div class="01-text-container text-center">
  <div class="01-heading">
    <h1>
      Empowering <span>African Markets</span> with
      <span>Czech Technologies</span>
    </h1>
  </div>
  <div class="01-subheading">
    <h4>
      SEDA Africa Group bridges the continets by
      <span class="bold"> cutting-edge Czech technologies </span> tailored for African
      markets.
    </h4>
  </div>
  <div class="01-start-button">
    <button id="explore-button" type="button" class="explore-btn btn btn-light">
      Explore
    </button>
  </div>
</div>
