<div class="container 03-About-us">
  <div class="row d-flex align-items-center">
    <div class="col tabs-menu">
      <div class="tab-horizontal">
        <div class="line"></div>
        <div class="content">
          <h1 class="bold">Empowering African Economies</h1>
          <div class="text">
            <span>
              At SEDA Africa Group, we are committed to fostering
              <span class="text-span2">sustainable growth</span>
              and development across Africa through
              <span class="text-span4">cutting-edge technology</span>
              solutions. Our mission is to
              <span class="text-span7">empower</span>
              <span class="text-span8">local</span>
              <span class="text-span10">businesses, governments,</span>
              and
              <span class="text-span13">communities</span>
              by providing robust, scalable, and tailor-made technological
              innovations. Through our strategic partnerships and deep
              understanding of local challenges, we deliver
              <span class="text-span17">impactful solutions</span>
              that drive
              <span class="text-span19">economic growth.</span>
            </span>
          </div>
        </div>
      </div>
      <div class="tab-horizontal">
        <div class="line hidden"></div>
        <div class="content">
          <h1 class="bold">Driving Sustainable Development</h1>
          <div class="text">
            <span>
              <span class="text-span">Our commitment to</span>
              <span class="text-span">circular economy</span>
              and
              <span class="text-span">sustainability</span>
              guides everything we do. Our technologies are
              <span class="text-span">environmentally friendly,</span>
              <span class="text-span">reduce carbon footprints</span>
              <span class="text-span">
                and promote eco-conscious practices across our projects. By
                harnessing
              </span>
              <span class="text-span">renewable energy sources</span>
              and implementing efficient resource management systems, we
              contribute to a
              <span class="text-span">greener</span>
              , more
              <span class="text-span">sustainable future</span>
              for
              <span class="text-span">Africa.</span>
            </span>
          </div>
        </div>
      </div>
      <div class="tab-horizontal">
        <div class="line hidden"></div>
        <div class="content">
          <h1 class="bold">Transforming Lives</h1>
          <div class="text">
            <span>
              We believe the potential of
              <span class="text-span">every community</span>
              can thrive via
              <span class="text-span">sustainable development.</span>
              <span class="text-span">
                Through our expertise in water management, food processing and
                energy solutions, we aim to create
              </span>
              <span class="text-span">job opportunities</span>
              , improve
              <span class="text-span">public health</span>
              and promote
              <span class="text-span">diversity</span>
              in African countries
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="col africa-connected-container">
      <svg
        class="02-africa-connected africa-connected-animation"
        viewBox="0 0 580 643"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="270.5" cy="228.5" r="17.5" fill="black" />
        <circle cx="357.5" cy="163.5" r="17.5" fill="black" />
        <circle cx="392.5" cy="67.5" r="17.5" fill="black" />
        <circle cx="446.5" cy="147.5" r="17.5" fill="black" />
        <circle cx="500.5" cy="227.5" r="17.5" fill="black" />
        <circle cx="549.5" cy="284.5" r="17.5" fill="black" />
        <circle cx="474.5" cy="374.5" r="17.5" fill="black" />
        <circle cx="380.5" cy="372.5" r="17.5" fill="black" />
        <circle cx="244.5" cy="469.5" r="17.5" fill="black" />
        <circle cx="281.5" cy="569.5" r="17.5" fill="black" />
        <circle cx="432.5" cy="541.5" r="17.5" fill="black" />
        <circle cx="373.5" cy="616.5" r="17.5" fill="black" />
        <circle cx="218.5" cy="353.5" r="17.5" fill="black" />
        <circle cx="70.5" cy="281.5" r="17.5" fill="black" />
        <circle cx="17.5" cy="130.5" r="17.5" fill="black" />
        <circle cx="121.5" cy="17.5" r="17.5" fill="black" />
        <circle cx="216.5" cy="103.5" r="17.5" fill="black" />
        <circle cx="11" cy="217" r="11" fill="black" />
        <circle cx="126" cy="220" r="11" fill="black" />
        <circle cx="170" cy="276" r="11" fill="black" />
        <circle cx="113" cy="86" r="11" fill="black" />
        <circle cx="235" cy="11" r="11" fill="black" />
        <circle cx="376" cy="279" r="11" fill="black" />
        <circle cx="304" cy="632" r="11" fill="black" />
        <circle cx="423" cy="440" r="11" fill="black" />
        <circle cx="306.5" cy="335.5" r="7.5" fill="black" />
        <circle cx="220.5" cy="295.5" r="7.5" fill="black" />
        <circle cx="190.5" cy="293.5" r="7.5" fill="black" />
        <circle cx="242.5" cy="44.5" r="7.5" fill="black" />
        <circle cx="313.5" cy="46.5" r="7.5" fill="black" />
        <circle cx="303.5" cy="67.5" r="7.5" fill="black" />
        <circle cx="572.5" cy="218.5" r="7.5" fill="black" />
        <circle cx="450.5" cy="316.5" r="7.5" fill="black" />
        <circle cx="258.5" cy="432.5" r="7.5" fill="black" />
        <circle cx="372.5" cy="489.5" r="7.5" fill="black" />
        <circle cx="436.5" cy="506.5" r="7.5" fill="black" />
        <circle cx="486.5" cy="459.5" r="7.5" fill="black" />
        <circle cx="545.5" cy="440.5" r="7.5" fill="black" />
        <circle cx="557.5" cy="467.5" r="7.5" fill="black" />
        <circle cx="521.5" cy="555.5" r="7.5" fill="black" />
        <circle cx="497.5" cy="545.5" r="7.5" fill="black" />
        <circle cx="502" cy="483" r="7" fill="black" />
        <path
          d="M263 207L227 124"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M289 215.5L338 180"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M293 237L360 272"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M279.5 250.5L304.5 326"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M256.5 247.5L227.5 287"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M252.5 243.5L200.5 286.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M248 237L185 269"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M247.5 226L142 222.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M138 210L205 121.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M125.5 204.5L114.5 101.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M113 210L34.5 145.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M112 221.5L28.5 218"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M117 232.5L88 267.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M137 233.5L161 263.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M337 155.5L238 113"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M342 147.5L250.5 53"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M346 143L309.5 78.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M351.5 141L318.5 57.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M367.5 143.5L385.5 89.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M379.5 162L424.5 154.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M378.5 174.5L479.5 219"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M361.5 186L373.5 262.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M480 237L391 271"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M491.5 248.5L457 306"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M460.5 166.5L488.5 208.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M408 84L434 127.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M324.5 47.5L371.5 60"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M254.5 47.5L293 65"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M308.5 58.5L309.5 56.5M364 289L318 328"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M231.5 301.5L295.5 331"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M241.5 349L296.5 338"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M220.5 331.5V308"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M201.5 296H209.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M180.5 286L181.5 287"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M92 288L155.5 278"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M51.5 271.5L20.5 231"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M13.5 153.5L10.5 201"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M32 113L107 32.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M199.5 87L138.5 32"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M118 39.5L115 70.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M38.5 122L98.5 92"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M194 100.5L129 88"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M144 14.5L217.5 9"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M224 79.5L233.5 26"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M239 25L241.5 32.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M225 79.5L237.5 56"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M376 295.5L379.5 349"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M390.5 287.5L439 312"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M522.5 225L561 220"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M571 230.5L560 262"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M515 245L534.5 268"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M529 294L463 313.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M537 305L517.615 323.963C515.342 326.187 512.147 327.197 509.009 326.684L462 319"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M469 353.5L456.5 327"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M441 324L399.5 360.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M448 328L425 424"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M318 341.5L360 364.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M303 345.5L264.5 421.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M227.5 374L252.5 423.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M362 385.5L271 430"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M262.5 456L362 386"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M250 449.5L253.5 443"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M414 427.5L393 391.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M461 393L432.5 427"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M479 397.5L485 447"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M267.5 465L405.5 442"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M267.5 472.5L360.5 486"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M410 451.5L380 480.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M424.5 456L433 495"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M437 444.5L475 456"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M477.5 469.5L445.5 498.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M385.5 490L424 501.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M382 498L414.5 527.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M375.5 501L375 595.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M368 500.5L312.5 619"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M362.5 495.5L298.5 556"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M249 491L271 550"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M289 591L298.5 617.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M421.5 560L389.5 600.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M322 629.5L352 624"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M436 517.5L436 520.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M511 476L537 448"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M511.5 476L546 470.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M551 449.5L555.5 457"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M502 493L498.5 534"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M505 537.5L549.287 478.312C550.69 476.437 553.62 478.087 552.743 480.259L526 546.5"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M519 323L489 358"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
        <path
          d="M507 550L511 552"
          stroke="black"
          stroke-width="5"
          stroke-linecap="round"
        />
      </svg>
    </div>
  </div>
</div>
